@font-face {
    font-family: 'vp_pixelsimplified_demo';
    src: url('assets/vp-pixel.simplified-demo-webfont.woff2') format('woff2'),
        url('assets/vp-pixel.simplified-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'typo_draft_demoregular';
    src: url('assets/typo_draft_demo-webfont.woff2') format('woff2'),
        url('assets/typo_draft_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'vp_pixelsimplified_demo';
}

h1 {
    font-size: xx-large;
}

p {
    justify-content: center;
    font-size: large;
    font-weight: lighter;
}

svg {
    max-width: 100vw;
    height: auto;
    margin: auto 0 auto 0;
}

nav {
    z-index: 1;
    position: fixed;
    background-color: #F99A9A;
    width: 100%;
    height: 15hv;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 20px;
    vertical-align: top;
}

.nav-link {
    display: flex;
    align-items: center;
}

.link {
    width: fit-content;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-item-align: center;
    color: white;
}

.nav-item {
    width: fit-content;
    white-space: nowrap;
    margin: 5px 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
    align-items: center;
    font-size: 24px;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 12px;
    padding: 5px 20px;
    text-align: center;
    font-family: 'vp_pixelsimplified_demo';
    align-items: center;
    justify-content: center;
}

section {
    height: 100vh;
}

#about-div {
    padding-top: 15vh;
}

.content {
    display: inline-flex;
    max-width: 100vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.container {
    display: inline-flex;
    max-height: 80%;
    height: 80%;
}

.text {
    max-width: 40vw;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
}

@media screen and (min-width: 780px) {

    .container {
        min-height: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .column {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 780px) {

    svg {
        max-width: 50vw;
        height: auto;
        margin: auto 0 auto 0;
    }

    .container {
        min-height: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .column {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .text {
        max-width: 60vw;
        padding: 0 20px 20px 20px;
    }
}

.icon-svg {
    position: unset;
    margin-right: 5%;
}

.container h1 {
    font-family: 'typo_draft_demoregular';
    font-weight: lighter;
    color: white;
}

.next-container {
    display: flex;
    bottom: 0px;
    width: 100%;
    height: fit-content;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    padding: 20px 20px 0 20px;
}

.item {
    margin: 15px;
}

.next {
    padding: 5px 50px;
    background-color: #FFF59F;
    border: 2px solid #FFF59F;
    border-radius: 5px;
    color: black;
    font-size: large;
}

.carousel-container{
    position: relative;
    width: fit-content;
}

.carousel-container svg{
    min-width: 6vh;
}

.carousel {
    display: flex;
    width: fit-content;
    position: relative;
    border-radius: 10px;
    background-color: #F99A9A;
    -webkit-box-shadow: -4px 7px 6px 0px rgb(0 0 0 / 15%);
    box-shadow: -4px 7px 6px 0px rgb(0 0 0 / 15%);
    flex-direction: column;
    justify-content: space-between;
}

.carousel img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 50vw;
    height: 50vh;
}

.carousel-label {
    background-color: #F99A9A;
    padding: 10px 20px;
    color: #FFF59F;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.tools {
    display: block;
    position: relative;
    align-items: center;
    background-color: #9AC8FF;
    margin: 10px;
    border-radius: 10px;
    padding: 12px;
    border: 0;
}

.tools svg {
    min-width: 6vw;
    fill: white;
}

.tools:hover svg {
    fill: transparent;
}

.tools:hover {
    background-color: #F99A9A;
    animation: fade-bg 1.5s;
}

.tools:hover .name {
    opacity: 1;
    animation: fade-text 2s;
}

.name {
    display: flex;
    font-size: 2vw;
    opacity: 0;
    min-height: 6vh;
    align-items: center;
    justify-content: center;
    white-space: wrap;
    padding: 12px;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bounce {
    animation: bounce-button 1s;
}

.footer {
    margin: 0;
    min-height: 10vh;
    background-color: #F99A9A;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-item {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.footer-social {
    margin-left: 25px;
}

.social {
    display: inline-flex;
    padding: 0 0 0 0 !important;
}

.footer-item a {
    padding: 0 20px;
}

.loadin{
    opacity: 0;
    animation: fadeout-page 1.2s ease;
}

.loaded{
    opacity: 1;
    animation: fadein-page 1.2s ease;
}
#asset {
    margin: 0 auto;
    display: block;
}

#page_title {
    font-size: large;
    font-family: 'typo_draft_demoregular';
    font-weight: lighter;
    color: white;
}

#title {
    width: fit-content;
    font-size: xxx-large;
    color: white;
}

#item {
    width: 40vw;
    flex-direction: row;
    flex-wrap: wrap;
}

#title-tools {
    width: fit-content;
    font-size: xxx-large;
    color: white;
    margin-bottom: 30px;
}

#type {
    color: black;
}

#carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#carousel svg {
    width: 40px;
}

#arrow svg {
    cursor: pointer;

}








.logo-animate {
    display: flex;
    align-items: center;
    width: 48px;
}

.logo-animate svg {
    stroke-width: 1.5px;
    stroke: #FFF;
    width: 100%;
    height: 100%;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: logoanimation 10s ease-in-out forwards infinite;
}

@keyframes logoanimation {
    0% {
        stroke-dashoffset: 1000;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.anim {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.anim:hover {
    box-shadow: 0 0 40px 40px #9AC8FF inset;
}

.link-animation:hover {
    box-shadow: 0 0 40px 40px #FFF59F inset;
    color: black;
}

.link-animation {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.link-animation:hover {
    box-shadow: 0 0 40px 40px #FFF59F inset;
    color: black;
}

.button-animation {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.button-animation:hover {
    box-shadow: 0 0 40px 40px #9AC8FF inset;
    border: 2px solid #9AC8FF;
}

.float {
    position: relative;
}

.float svg {
    animation: float 5.5s ease-in-out infinite;
    border-radius: 5px;
}

@keyframes fade-text{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadein-page{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeout-page{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fade-bg {
    0%{
        background-color: #9AC8FF;
    }
    100%{
        background-color: #F99A9A;
    }
}

@keyframes carousel-fade {
    from{
        transform: translateX(0);
        opacity: 1;
    }to{
        transform: translateX(-150px);
        opacity: 0;
    }   
}

@keyframes float {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(-20px)
    }
}

.typewriter {
    width: fit-content;
}

.typewriter-yellow h1 {
    display: inline-block;
    width: fit-content;
    overflow: hidden;
    border-right: .15em solid #FFF59F;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 4.5s steps(40),
        blink_yellow 1s step-end infinite;
}

.typewriter-blue h1 {
    display: inline-block;
    width: fit-content;
    overflow: hidden;
    border-right: .15em solid #9AC8FF;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 1.5s steps(10),
        blink_blue 1s step-end infinite;
}

@keyframes blink_blue {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #9AC8FF;
    }
}

@keyframes blink_yellow {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #FFF59F;
    }
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes bounce-button {
    0% {
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }

    50% {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
}